/build/
/dist/
/loader/*.user
/loader/.vs/
/loader/packages/
/loader/tmp/
/loader/ARM64/
/loader/Win32/
/loader/x64/
/nsis/
/releases/
/src/_min.py
/stuff/
/test_files/
/_make_all.cmd
/*.spec
_backup.rar
