#include "windows.h"
#include "resources.h"

1 ACCELERATORS
{
  "O", IDM_OPEN, NOINVERT, CONTROL, VIRTKEY
  "S", IDM_SAVE, NOINVERT, CONTROL, VIRTKEY
  "P", IDM_PRINT, NOINVERT, CONTROL, VIRTKEY
  "Q", IDM_EXIT, NOINVERT, CONTROL, VIRTKEY
  VK_F11,  IDM_FULLSCREEN, NOINVERT, VIRTKEY
  VK_ESCAPE, IDM_ESCAPE_FULLSCREEN, NOINVERT, VIRTKEY
  VK_F1,  IDM_ABOUT, NOINVERT, VIRTKEY
  VK_F12,  IDM_DEV_TOOLS, NOINVERT, VIRTKEY
}

